CREATE TABLE Kategoriregler (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    MatchningsTyp TEXT NOT NULL,
    MatchningsText TEXT NOT NULL,
    Kategori TEXT NOT NULL,
    Prioritet INTEGER DEFAULT 0
);
CREATE TABLE Overformyndare (

    ID INTEGER PRIMARY KEY AUTOINCREMENT,

    Namn TEXT UNIQUE,

    Adress TEXT,

    Postnummer TEXT,

    Postort TEXT,

    Telefon TEXT,

    Epost TEXT

, KOMMUN_VAXEL TEXT);
CREATE TABLE GodManProfiler (

    ID            INTEGER PRIMARY KEY AUTOINCREMENT,

    Fornamn       TEXT,

    Efternamn     TEXT,

    Personnummer  TEXT UNIQUE,

    Adress        TEXT,

    Postnummer    TEXT,

    Postort       TEXT,

    Telefon       TEXT,

    Mobil         TEXT,

    Epost         TEXT

, IsCurrentUser INTEGER DEFAULT 0, Clearingnummer TEXT, Kontonummer TEXT);
CREATE TABLE huvudman (

    PERSONNUMMER TEXT PRIMARY KEY NOT NULL,

    FORNAMN TEXT,

    EFTERNAMN TEXT,

    HELT_NAMN TEXT,

    ADRESS TEXT,

    POSTNUMMER TEXT,

    ORT TEXT,

    VISTELSEADRESS TEXT,

    VISTELSEPOSTNR TEXT,

    VISTELSEORT TEXT,

    TELEFON TEXT,

    MOBIL TEXT,

    EPOST TEXT,

    MEDBORGARSKAP TEXT,

    CIVILSTAND TEXT,

    SAMMANBOENDE INTEGER, -- 0 f├Âr Nej, 1 f├Âr Ja

    MEDSOKANDE_FORNAMN TEXT,

    MEDSOKANDE_EFTERNAMN TEXT,

    MEDSOKANDE_PERSONNUMMER TEXT,

    MEDSOKANDE_MEDBORGARSKAP TEXT,

    MEDSOKANDE_CIVILSTAND TEXT,

    MEDSOKANDE_SYSSELSATTNING TEXT,

    CLEARINGNUMMER TEXT,

    KONTONUMMER TEXT,

    BANKNAMN TEXT,

    OVERFORMYNDARE_ID INTEGER,

    BOENDE_NAMN TEXT,

    BOSTAD_TYP TEXT,

    BOSTAD_ANTAL_RUM INTEGER,

    BOSTAD_ANTAL_BOENDE INTEGER,

    BOSTAD_KONTRAKTSTID TEXT,

    SYSSELSATTNING TEXT,

    INKOMSTTYP TEXT,

    DEKLARERAT_STATUS TEXT,

    ARVODE_UTBETALT_STATUS INTEGER, -- 0 f├Âr Nej, 1 f├Âr Ja

    MERKOSTNADSERSTATTNING_STATUS INTEGER, -- 0 f├Âr Nej, 1 f├Âr Ja

    ARSR_OVRIGA_UPPLYSNINGAR TEXT,

    ERSATTNING_ANNAN_MYNDIGHET_STATUS INTEGER, -- 0 f├Âr Nej, 1 f├Âr Ja

    ERSATTNING_ANNAN_MYNDIGHET_FRAN TEXT,

    HYRA REAL,

    EL_KOSTNAD REAL,

    FACK_AVGIFT_AKASSA REAL,

    RESKOSTNADER REAL,

    HEMFORSAKRING REAL,

    MEDICIN_KOSTNAD REAL,

    LAKARVARDSKOSTNAD REAL,

    BARNOMSORG_AVGIFT REAL,

    FARDTJANST_AVGIFT REAL,

    AKUT_TANDVARDSKOSTNAD REAL,

    BREDBAND REAL,

    OVRIG_KOSTNAD_BESKRIVNING TEXT,

    OVRIG_KOSTNAD_BELOPP REAL,

    ARBETSLOSHETSERSTATTNING REAL,

    AVTALSFOrSAKRING_AFA REAL, 

    BARNBIDRAG_STUDIEBIDRAG REAL,

    BOSTADSBIDRAG REAL,

    ETABLERINGSERSATTNING REAL,

    BARNS_INKOMST REAL,

    HYRESINTAKT_INNEBOENDE REAL,

    LON REAL,

    PENSION_LIVRANTA_SJUK_AKTIVITET REAL,

    SJUKPENNING_FORALDRAPENNING REAL,

    SKATTEATERBARING REAL,

    STUDIEMEDEL REAL,

    UNDERHALLSSTOD_EFTERLEVANDEPENSION REAL,

    VANTAD_INKOMST_BESKRIVNING TEXT,

    VANTAD_INKOMST_BELOPP REAL,

    OVRIG_INKOMST_BESKRIVNING TEXT,

    OVRIG_INKOMST_BELOPP REAL,

    TILLGANG_BANKMEDEL_VARDE REAL,

    TILLGANG_BOSTADSRATT_FASTIGHET_VARDE REAL,

    TILLGANG_FORDON_MM_VARDE REAL,

    SKULD_KFM_VARDE REAL

, FORORDNANDE_DATUM TEXT, SALDO_RAKNINGSKONTO_FORORDNANDE REAL, HANDLAGGARE TEXT, KontaktpersonNamn TEXT, KontaktpersonTel TEXT, HANDLAGGARE_LSS TEXT, HANDLAGGARE_SOCIAL TEXT, HYRESVARD_NAMN TEXT, BUDGET_INKOMSTER_NETTO_MANAD REAL, BUDGET_UTGIFTER_VERIFIERADE_MANAD REAL, BUDGET_RESULTAT_MANAD REAL, FickpengTotalVecka REAL, FickpengMondag REAL, FickpengTisdag REAL, FickpengOnsdag REAL, FickpengTorsdag REAL, FickpengFredag REAL, KFM_SKULDFORANDRING REAL, KFM_LAST_CHECKED_AT TEXT, KFM_CASE_NO TEXT, KFM_STATUS TEXT, OVERFORMYNDAR_NAMN TEXT, BoendeKontaktpersonNamn TEXT, BoendeKontaktpersonTel TEXT, Omsorgsavgift REAL, FickpengarManad REAL, PensionLeverantor TEXT, BostadsbidragLeverantor TEXT, HyraLeverantor TEXT, OmsorgsavgiftLeverantor TEXT, ElLeverantor TEXT, HemforsakringLeverantor TEXT, LakarvardskostnadLeverantor TEXT, MedicinLeverantor TEXT, BredbandLeverantor TEXT, FickpengarLeverantor TEXT);
CREATE TABLE HuvudmanArsrakningPoster (
            ID INTEGER PRIMARY KEY AUTOINCREMENT,
            HuvudmanPnr TEXT NOT NULL,
            ArsrakningAr INTEGER NOT NULL,
            PostKod TEXT NOT NULL,
            Summa REAL, 
            BilagaRef TEXT,
            OFnotRef TEXT,
            UNIQUE (HuvudmanPnr, ArsrakningAr, PostKod),
            FOREIGN KEY (HuvudmanPnr) REFERENCES huvudman(PERSONNUMMER) ON DELETE CASCADE
        );
CREATE TABLE HuvudmanOvrigaTillgangar (

    ID INTEGER PRIMARY KEY AUTOINCREMENT,

    HuvudmanPnr TEXT NOT NULL,

    Typ TEXT NOT NULL,

    RadNr INTEGER NOT NULL,

    Beskrivning TEXT,

    Andelar TEXT,

    Kronor REAL DEFAULT 0.0,

    BilagaRef TEXT,

    OFnot TEXT, pairId TEXT,

    FOREIGN KEY (HuvudmanPnr) REFERENCES huvudman(PERSONNUMMER) ON DELETE CASCADE

);
CREATE TABLE HuvudmanBankkonton (

    ID INTEGER PRIMARY KEY AUTOINCREMENT,

    HuvudmanPnr TEXT NOT NULL,

    Typ TEXT NOT NULL,

    RadNr INTEGER NOT NULL,

    Beskrivning TEXT,

    Kronor REAL DEFAULT 0.0,

    BilagaRef TEXT,

    OFnot TEXT, pairId TEXT,

    FOREIGN KEY (HuvudmanPnr) REFERENCES huvudman(PERSONNUMMER) ON DELETE CASCADE

);
CREATE TABLE HuvudmanSkulder (

    ID INTEGER PRIMARY KEY AUTOINCREMENT,

    HuvudmanPnr TEXT NOT NULL,

    RadNr INTEGER NOT NULL,

    Langivare TEXT,

    BilagaRef TEXT,

    StartBelopp REAL DEFAULT 0.0,

    SlutBelopp REAL DEFAULT 0.0,

    FOREIGN KEY (HuvudmanPnr) REFERENCES huvudman(PERSONNUMMER) ON DELETE CASCADE

);
CREATE TABLE users (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    username TEXT NOT NULL UNIQUE,

    password_hash TEXT NOT NULL

);
CREATE TABLE HuvudmanRedogorelse (

    ID INTEGER PRIMARY KEY AUTOINCREMENT,

    HuvudmanPnr TEXT NOT NULL,

    ArsrakningAr INTEGER NOT NULL,

    redogKalenderarStart TEXT,

    redogKalenderarSlut TEXT,

    redogSlaktskap TEXT,

    redogSlaktskapTyp TEXT,

    redogBoendeform TEXT,

    redogBoendeAnnatText TEXT,

    redogOmfBevakaRatt INTEGER,

    redogOmfForvaltaEgendom INTEGER,

    redogOmfSorjaForPerson INTEGER,

    redogBehovFortsatt TEXT,

    redogAnnanOmfattning TEXT,

    redogAnkBostadsbidrag TEXT,

    redogAnkBostadsbidragKommentar TEXT,

    redogAnkForsorjning TEXT,

    redogAnkForsorjningKommentar TEXT,

    redogAnkHandikapp TEXT,

    redogAnkHandikappKommentar TEXT,

    redogAnkHabilitering TEXT,

    redogAnkHabiliteringKommentar TEXT,

    redogAnkHemtjanst TEXT,

    redogAnkHemtjanstKommentar TEXT,

    redogOmfLSS TEXT,

    redogOmfLSSKommentar TEXT,

    redogPersAssistans TEXT,

    redogPersAssistansKommentar TEXT,

    redogKontaktperson TEXT,

    redogKontaktpersonKommentar TEXT,

    redogHemforsakring TEXT,

    redogHemforsakringKommentar TEXT,

    redogAvvecklatBostad TEXT,

    redogAvvecklatBostadKommentar TEXT,

    redogKostnadOmsorg TEXT,

    redogKostnadOmsorgKommentar TEXT,

    redogForbehallBelopp TEXT,

    redogForbehallBeloppKommentar TEXT,

    redogTecknatHyresavtal TEXT,

    redogTecknatHyresavtalKommentar TEXT,

    redogAnsoktNyttBoende TEXT,

    redogAnsoktNyttBoendeKommentar TEXT,

    redogEkonomiOvrigtSoktFondmedel_Text TEXT,

    redogAntalBesokTyp TEXT,

    redogVistelseUtanforHemmet TEXT,

    redogVistelseUtanforHemmetDetaljer TEXT,

    redogAntalTelefonsamtal TEXT,

    redogAntalKontakterAnhoriga TEXT,

    redogOvrigaInsatserText TEXT,

    redogBetalningInternetbank INTEGER,

    redogBetalningAutogiro INTEGER,

    redogKontooverforingHm INTEGER,

    redogKontanterHmKvitto INTEGER,

    redogKontooverforingBoende INTEGER,

    redogKontanterBoendeKvitto INTEGER,

    redogForvaltningSaltKoptFastighet TEXT,

    redogForvaltningSaltKoptFastighetKommentar TEXT,

    redogForvaltningHyrtUtFastighet TEXT,

    redogForvaltningHyrtUtFastighetKommentar TEXT,

    redogForvaltningSaltKoptAktier TEXT,

    redogForvaltningSaltKoptAktierKommentar TEXT,

    redogForvaltningAnnanVardepapper TEXT,

    redogForvaltningAnnanVardepapperKommentar TEXT,

    redogForvaltningSoktSkuldsanering TEXT,

    redogForvaltningSoktSkuldsaneringKommentar TEXT,

    redogForvaltningOvrigt1 TEXT,

    redogForvaltningOvrigt2 TEXT,

    redogArvodeBevakaRatt INTEGER,

    redogArvodeForvaltaEgendom INTEGER,

    redogArvodeSorjaForPerson INTEGER,

    redogArbetsinsats TEXT,

    redogOnskarKostnadsersattning TEXT,

    redogReseersattningKm TEXT,

    redogKorjournalBifogas TEXT,

    redogArvodeOvrigt TEXT,

    redogUnderskriftDatum TEXT,

    redogUnderskriftOrt TEXT,

    UNIQUE(HuvudmanPnr, ArsrakningAr)

);
CREATE TABLE IF NOT EXISTS "PdfTemplates" (

    "ID" INTEGER PRIMARY KEY AUTOINCREMENT,

    "TemplateName" TEXT NOT NULL UNIQUE,

    "OriginalFilename" TEXT NOT NULL,

    "StoredFilename" TEXT NOT NULL,

    "CreatedAt" TIMESTAMP DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE IF NOT EXISTS "PdfFieldMappings" (

    "ID" INTEGER PRIMARY KEY AUTOINCREMENT,

    "TemplateID" INTEGER NOT NULL,

    "PdfFieldName" TEXT NOT NULL,

    "DbColumnName" TEXT NOT NULL,

    FOREIGN KEY("TemplateID") REFERENCES "PdfTemplates"("ID") ON DELETE CASCADE,

    UNIQUE("TemplateID", "PdfFieldName")

);
CREATE TABLE IF NOT EXISTS "HuvudmanDokument" (

    "ID" INTEGER PRIMARY KEY AUTOINCREMENT,

    "HuvudmanPnr" TEXT NOT NULL,

    "DokumentTyp" TEXT NOT NULL,

    "OriginalFilnamn" TEXT NOT NULL,

    "StoredFilnamn" TEXT NOT NULL,

    "StoredPath" TEXT NOT NULL,

    "CreatedAt" TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY("HuvudmanPnr") REFERENCES "huvudman"("PERSONNUMMER") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "AutogiroForetag" (

    "ID" INTEGER PRIMARY KEY AUTOINCREMENT,

    "Foretagsnamn" TEXT NOT NULL UNIQUE,

    "Bankgiro" TEXT,

    "Plusgiro" TEXT,

    "MottagarID" TEXT,

    "Noteringar" TEXT

);
/* No STAT tables available */
